{% extends 'base.html' %}

{% block title %}
    Delete Post
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.consultantprofile.id %}
            {% if user.consultantprofile.id == post.author.id %}
                <br/>
                <h3>Delete Post</h3>
                <br/>
                <div class="mb-3">
                <form method='POST'>
                    {% csrf_token %}
                    <strong>Are you sure you want to delete "{{ post.title }}"?</strong>
                    <br/><br/><br/>
                    <button class="btn btn-danger">Delete</button>
                </div>
            {% else %}
                <br/>
                <strong>You are not allowed to delete this post!</strong>
                <br/>
                <br/>
                <a href="{% url 'home' %}" class="btn btn-info">Back</a>
            {% endif %}
        {% else %}
            <br/>
            <strong>You are not allowed to delete this post!</strong>
            <br/>
            <br/>
            <a href="{% url 'home' %}" class="btn btn-info">Back</a>
        {% endif %}
    {% else %}
        <br/>
        <strong>You are not allowed to delete this post!</strong>
        <br/>
        <br/>
        <a href="{% url 'home' %}" class="btn btn-info">Back</a>
    {% endif %}

{% endblock %}